/** Uniformisation des styles navigateurs par défaut sur les navigateurs modernes
 *  @lastmodified  2013-02-06
 *
 *  Version personnalisée de normalize.css
 *  @see  http://necolas.github.com/normalize.css
 * 
 *  Les valeurs prises en références sont celles recommandées par le WHATWG
 *  @see  http://www.iecss.com/whatwg.css
 */



/** --- = @section BASE --- */

/** Supprime les marges externes. */
body {
	margin: 0;
}




/** --- = @section TABLEAUX --- */

/** Supprime l'espace entre les cellules et fusionne les bordures. */
table {
	border-spacing: 0;
	border-collapse: collapse;
}




/** --- = @section FORMULAIRES --- */

/** 1. Applique les marges recommandées.
 *  2. Uniformise la bordure. */
fieldset {
	margin: 0 2px;  /** 1 */
	border: 1px solid #828282;  /** 2 */
	padding: 0.35em 0.625em 0.75em;  /** 1 */
}


/** 1. Rétablit l'héritage de la propriété 'color'.
 *     @bugfix * @affected  IE 8 et IE 9
 *  2. Uniformise les marges internes. */
legend {
	border: 0;  /** 1 */
	padding: 0;  /** 2 */
}


/** 1. Supprime les marges externes.
 *     @css-for  Firefox 4+, Safari 5 et Chrome 
 *  2. Rétablit l'héritage de la taille de police.
 *  3. Rétablit l'héritage de la famille de police. */
button,
input, select, textarea {
	margin: 0; /** 1 */
	font-size: 100%;  /** 2 */
	font-family: inherit;  /** 3 */
}


/** Supprime l'héritage de la propriété text-transform des boutons.
 *  @css-for  Chrome, Safari 5+ et IE 8+
 *  Supprime l'héritage de la propriété des listes déroulantes.
 *  @css-for  Firefox 4+ et Opera
 *  @see      http://tjvantoll.com/2012/07/10/default-browser-handling-of-the-css-text-transform-property/ */
button,
select {
    text-transform: none;
}


/** Uniformise la hauteur des champs texte.
 *  @see  http://www.456bereastreet.com/archive/201108/line-height_in_input_fields/ */
input[type="text"] {
	border: 1px solid #ddd;
	padding: 2px;
	height: 1.2em;
	font-size: 1em
	line-height: 1.2;
}


/** 1. Modifie l’apparence du curseur sur certains éléments de formulaire.
 *  2. Permet de rendre les labels fonctionnels.
 *     @bugfix * @affected iOS
 *     @see      http://twitter.com/sorccu/status/211364032098213888 */
label,
button, input[type="button"],
input[type="checkbox"], input[type="radio"],
input[type="reset"], input[type="submit"] {
	cursor: pointer;
}


/** Rétablit le curseur par défaut. */
button[disabled], input[disabled] {
	cursor: default;
}


/** Supprime les marges internes incompressibles.
 *  @css-for  Firefox
 *  @see      http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/** 1. Normalise le modèle de boîte et supprime les marges internes.
 *  2. Supprime la marge interne superflue
       @css-for  IE 8 et IE 9 */
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;  /** 1 */
	padding: 0;  /** 2 */
}


/** 1. Uniformise l'alignement vertical.
 *  2. Masque la barre de défilement présente par défaut.
 *     @css-for  Internet Explorer
 *  3. Autorise le redimensionnement vertical du champs
 *     @note Ne fonctionne pas sur Internet Explorer. */
textarea {
	vertical-align: top;  /** 1 */
	overflow: auto;  /** 2 */
	resize: vertical;  /** 3 */
}




/** --- = @section AUTRES COMPOSANTS --- */

/** Améliore la lisibilité de l'élément. */
pre {
	white-space: pre-wrap;
}


/** Uniformise l'aspect du texte.
 *  @css-for Safari 5 et Chrome */
code, pre,
kbd, samp {
	font-family: monospace, serif;
	font-size: 1em;
}


/** Uniformise l'aspect des règles horizontales.
 *  @css-for Firefox */
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}


/** Uniformise le contour.
 *  @css-for  Chrome et Safari */
a:focus {
	outline: thin dotted;
}


/** Améliore la lisibilité au survol et à la prise de focus.
 *  @see  people.opera.com/patrickl/experiments/keyboard/test */
a:active, a:hover {
	outline: 0;
}


/** Ajoute la bordure recommandée.
 *  @css-for  Internet Explorer, Chrome et Safari */
abbr[title] {
	border-bottom: 1px dotted;
}


/** Applique la graisse recommandée.
 *  @css-for  Firefox 4+, Safari 5 et Chrome */
b, strong {
	font-weight: bold;
}


/** Uniformise la taille de l'élément. */
small {
	font-size: 80%;
}


/** Applique le style recommandé.
 *  @css-for  Safari 5 et Chrome  */

dfn {
  font-style: italic;
}


/** Empêche les éléments 'sub' et 'sup' d'affecter l'interlignage du parent.
 *  @see  gist.github.com/413930 */
sub, sup {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


/** Uniformise les guillemets automatiques. */
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}



/** 1. Supprime la bordure des imags se trouvant dans un lien.
 *     @css-for  IE 8 et 9
 *  2. Supprime l'espace indésirable appraissant sous les images
 *     @see http://www.alsacreations.com/astuce/lire/52-espaces-sous-les-images.html */
img {
	border: 0;  /** 1 */
	vertical-align: middle;  /** 2 */
}


/** Supprime l'ombre portée du texte lors de sa sélection.
 *  @see   h5bp.com/
 *  @note  Les couleurs de texte et d'arrière-plan doivent être rédéfinies pour que l'instruction soit appliquée.*/
::selection {
	text-shadow: none;
	color: #000;
	background-color: #abcaff;
}


/** Supprime l'ombre portée du texte lors de sa sélection.
 *  @css-for  Firefox */
::-moz-selection {
	text-shadow: none;
	color: #000;
	background-color: #abcaff;
}




/** --- = @section MOBILES --- */

/** Empêche le redimensionnement du texte au changement d'orientation du terminal.
 *  @bugfix * @affected iOS
 *  @see      http://filamentgroup.com/examples/iosScaleBug/
 *  @note     Cette instruction préserve la fonction de zoom utilisateur */
html {
	-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
}


/** 1. Évite que l'instruction 2 ne casse les contrôles natifs des éléments 'audio' et 'video'.
 *     @bugfix * @affected Webkit in Android 4.0.
 *  2. Autorise la personnalisation des éléments.
 *     @bugfix * @affected iOS */
button,
html input[type="button"], /** 1 */
input[type="reset"], input[type="submit"] {
	-webkit-appearance: button; /** 2 */
}